.dub
docs.json
__dummy.html
*.o
*.obj
__test__*__

*.sublime-project

example/dub.selections.json

example/example

dub.selections.json

*.a

lubeck-test-library

*.lst
.vscode
*.directory
*.sublime-workspace
lubeck-test-unittest
.DS_Store
*.lib
*.dll
*.exe
build/
build/mir-algorithm/
build/mir-blas/
build/mir-lapack/
build/cblas/
build/lapack/
build/mir-random/
subprojects/cblas
subprojects/mir-random
subprojects/lapack
subprojects/mir-algorithm
subprojects/mir-blas
subprojects/mir-core
subprojects/mir-lapack
